#navContainer{
    height:96px;
    width:100vw;
    
    display:grid;
    grid-template-columns:30% auto;
    position:relative;

    
    & p {
        display:flex;
        align-items:center;
        
        a.title_link{
            font-family: 'Roboto', sans-serif;
            font-size:2rem;
            margin-left:16px;
            text-transform:uppercase;
            font-weight:bold;
            margin-bottom:0;
            text-decoration:none;
            transition:color ease-in-out 300ms;
            color:black;

            &:hover{
                transition:color ease-in-out 250ms;
                color:yellow;
            }
        }

        a.title_link::after{
            content:'';
            position:absolute;
            height:calc(100% + 10px);
            bottom:-5px;
            left: -5px;
            width:0;
            transition:width ease-in-out 250ms;
            background-color:black;
            z-index:-1;
        }

        a.title_link::before{
            content:'< Click for Home';
            position:absolute;
            left:30%;
            top: calc(48px - 12px);
            font-size:1rem;
            color:white;
            display:none;
        }

        a.title_link:hover::before{
            display:inline-block;
            transition:color ease-in-out 250ms;
            color:yellow;
        }

        a.title_link:hover::after{
            transition:width ease-in-out 250ms;
            width:calc(100% + 10px);
        }
    }

    & nav#navbar_large{
        float:right;
        display:flex;
        justify-content: flex-end;
        align-items:center;
        margin-right:16px;
        ul{
            li{
                display:inline-block;
                text-decoration:none;
                margin-left:2rem;
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;

                a{
                    text-decoration:none;
                    color:black;
                    text-transform:uppercase;
                    position:relative;
                }

                a.hiddenOnHome{
                    display:none;
                }

                a::after{
                    position:absolute;
                    content:'';
                    z-index:-1;
                    height:calc(100% + 10px);
                    width:0px;
                    background-color:black;
                    bottom:-5px;
                    left:-5px;
                    transition:width ease-in-out 250ms;
                }

                a:hover::after{
                    -moz-transition: width ease-in-out 250ms;
                    -webkit-transition: width ease-in-out 250ms;
                    -o-transition: width ease-in-out 250ms;
                    -ms-transition:width ease-in-out 250ms;
                    transition:width ease-in-out 250ms;
                    width:calc(100% + 10px);
                }

                a:hover{
                    font-weight:bold;
                    transition:color ease-in 265ms;
                    color:white;
                }

                a{
                    font-weight:normal;
                }
            }
        }
        
    }
}

@media screen and (max-width:1920px){
    #navbar_large{
        float:right;
        margin-bottom:0;
    }

    .small_nav{
        display:none;
    }

    .hidden_menu{
        display:none;
    }
}

@media screen and (max-width:920px){
    #navContainer{
        grid-template-columns:50% auto;
        & nav#navbar_large{
            ul{
                li{
                    font-size:1rem;
                }
                
            }
        }

        & p a.title_link{
            font-size:1.5rem;

            &::before{
                left:50%;
            }
        }
    }
}

@media screen and (max-width:735px){
    #navContainer{
        & nav#navbar_large{
           display:none;
        }

        

        & p a.title_link{
            font-size:1.25rem;
        }
    }

    .small_nav{
        float:right;
        display:flex;
        justify-content: flex-end;

        & .menuButton{
            height:96px;
            width:96px;
            display:flex;
            align-items: center;
            justify-content: center;
            & i{
                font-size:2rem;
            }
        }

        & .menuButton:active{
            background-color:rgba(0,0,0,.2);
        }
    }

    .hiddenMenu.isVisible{
        position:absolute;
        z-index:4;
        width:100vw;
        background-color:white;
        ul{
            li{
                text-decoration:none;
                margin-bottom:1rem;
                a{
                    text-decoration:none;
                    color:black;
                    font-family: 'Roboto', sans-serif;
                    font-weight:bold;
                    text-transform: uppercase;
                    font-size:2rem;
                }
            }
        }
    }

    .hiddenMenu.isHidden{
        display:none;
    }
}