<div id='navContainer'>
  <p><a class="title_link" href="#" routerLink="" (click)="closeMenu()">Ardner Photography<i class="material-icons">camera</i></a></p>
  <nav id="navbar_large">
    <ul>
      <li><a class="c" routerLink="about" href="#">About</a></li>
      <li><a class="y" routerLink="pricing" href="#">Pricing</a></li>
      <li><a class="m" routerLink="blog" href="#">Blog</a></li>
      <li><a class="k" routerLink="contact" href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="small_nav">
      <a class="menuButton" (click)="toggleMenu()"><i class="material-icons">menu</i></a>
  </div>
</div>
<div class="hidden_menu {{this.visibleState}}">
    <nav id="navbar_small">
        <ul>
            <li routerLink="" (click)="closeMenu()" >
              <a>
                <svg class="material-icon" viewBox="0 0 24 24">
                  <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                </svg>
                <p>Home</p>
              </a>
            </li>
            <li routerLink="about" (click)="closeMenu()" >
              <a>
                <svg class="material-icon" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/>
                </svg>
                <p>About</p>
              </a>
            </li>
            <li routerLink="pricing" (click)="closeMenu()" >
              <a>
                <svg class="material-icon" viewBox="0 0 24 24">
                  <path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"/>
                </svg>
                <p>Pricing</p>
              </a>
            </li>
            <li routerLink="blog" (click)="closeMenu()" >
              <a>
                <svg class="material-icon" viewBox="0 0 24 24">
                  <path d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z"/>
                </svg>
                <p>Blog</p>
              </a>
            </li>
            <li routerLink="contact" (click)="closeMenu()" >
              <a>
                <svg class="material-icon" viewBox="0 0 24 24">
                  <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                </svg>
                <p>Contact</p>
              </a>
            </li>
          </ul>
      </nav>
</div>
