#navContainer{
    height:96px;
    width:100vw;
    
    display:grid;
    grid-template-columns:30% auto;
    position:relative;

    
    & p {
        display:flex;
        align-items:center;
        
        a.title_link{
            font-family: 'Roboto', sans-serif;
            font-size:2rem;
            margin-left:16px;
            text-transform:uppercase;
            font-weight:bold;
            margin-bottom:0;
            text-decoration:none;
            transition:color ease-in-out 300ms;
            color:black;

            & i.material-icons{
                font-size:2.5rem;
                position:absolute;
            }

            &:hover{
                i.material-icons{
                    transition:transform ease-out 1000ms;
                    transform:rotate(360deg);
                    transform-origin: 20px 20px;
                }
            }
        }
    }

    & nav#navbar_large{
        float:right;
        display:flex;
        justify-content: flex-end;
        align-items:center;
        margin-right:16px;
        ul{
            li{
                display:inline-block;
                text-decoration:none;
                margin-left:2rem;
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;

                a{
                    text-decoration:none;
                    color:black;
                    text-transform:uppercase;
                    position:relative;
                }

                a.hiddenOnHome{
                    display:none;
                }

                a::after{
                    position:absolute;
                    content:'';
                    z-index:-1;
                    height:calc(100% + 10px);
                    width:0px;
                    background-color:black;
                    bottom:-5px;
                    left:-5px;
                    transition:width ease-in-out 250ms;
                }

                a:hover::after{
                    -moz-transition: width ease-in-out 250ms;
                    -webkit-transition: width ease-in-out 250ms;
                    -o-transition: width ease-in-out 250ms;
                    -ms-transition:width ease-in-out 250ms;
                    transition:width ease-in-out 250ms;
                    width:calc(100% + 10px);
                }

                a:hover{
                    &.c{
                        color:cyan;
                        transition:color ease-in 265ms;
                    }
                    &.y{
                        color:yellow;
                        transition:color ease-in 265ms;
                    }
                    &.m{
                        color:magenta;
                        transition:color ease-in 265ms;
                    }
                    &.k{
                        color:white;
                        transition:color ease-in 265ms;
                    }
                    
                }

                a{
                    font-weight:normal;
                }
            }
        }
        
    }
}

@media screen and (max-width:1920px){
    #navbar_large{
        float:right;
        margin-bottom:0;
    }

    .small_nav{
        display:none;
    }

    .hidden_menu{
        display:none;
    }
}

@media screen and (max-width:1250px) and (min-width:950px){
    #navContainer{
        & p a.title_link{
            font-size:1.5rem;
            & i.material-icons{
                font-size:1.75rem;
            }
        }
    }
}

@media screen and (max-width:950px) and (min-width:820px){
    #navContainer{
        grid-template-columns:50% auto;
        & nav#navbar_large{
            ul{
                li{
                    font-size:1rem;
                }
                
            }
        }

        & p a.title_link{
            font-size:1.5rem;

            & i.material-icons{
                font-size:1.75rem;
            }

            &::before{
                left:50%;
            }
        }
    }
}

@media screen and (max-width:820px){
    #navContainer{
        & nav#navbar_large{
           display:none;
        }

        

        & p a.title_link{
            font-size:1.25rem;

            & i.material-icons{
                font-size:1.75rem;
            }
        }
    }

    .small_nav{
        float:right;
        display:flex;
        justify-content: flex-end;

        & .menuButton{
            height:96px;
            width:96px;
            display:flex;
            align-items: center;
            justify-content: center;
            & i{
                font-size:2rem;
            }
        }

        & .menuButton:active{
            background-color:rgba(0,0,0,.2);
        }
    }

    .hiddenMenu.isVisible{
        position:absolute;
        z-index:4;
        width:100vw;
        background-color:white;
        ul{
            li{
                text-decoration:none;
                margin-bottom:1rem;
                a{
                    text-decoration:none;
                    color:black;
                    font-family: 'Roboto', sans-serif;
                    font-weight:bold;
                    text-transform: uppercase;
                    font-size:2rem;
                }
            }
        }
    }

    .hiddenMenu.isHidden{
        display:none;
    }
}