.card{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;

    .overlay{
        position:absolute;
        display:flex;
        z-index:3;
        top:0;
        left:0;
        bottom:0;
        right:0;
        transition:background-color ease-in-out 250ms;
        background-color:rgba(0,0,0,.2);

        & .inner{
            position: relative;
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;

            & p{
                color:white;
                font-family:'Roboto', sans-serif;
                font-size:2rem;
                font-weight:bold;
                text-transform: uppercase;
                position:absolute;
            }
        }


    }

    .overlay:hover{
        transition:background-color ease-in-out 250ms;
        background-color:rgba(0,0,0,.4);
    }

    &:hover img{
        transition:filter ease-in-out 250ms;
        -webkit-transition: -webkit-filter ease-in-out 250ms;
        -moz-transition: -moz-filter ease-in-out 250ms;
        -o-transition: -o-filter ease-in-out 250ms;
        filter:blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter:blur(5px);
        -ms-filter:blur(5px);
        -o-filter:blur(5px);
    }

}


img{
    transition:filter ease-in-out 250ms;
    -webkit-transition: -webkit-filter ease-in-out 250ms;
    -moz-transition: -moz-filter ease-in-out 250ms;
    -o-transition: -o-filter ease-in-out 250ms;
    filter:blur(5px);
    -webkit-filter: blur(0px);
    -moz-filter:blur(0px);
    -ms-filter:blur(0px);
    -o-filter:blur(0px);
}


.color{
    position:relative;
    img{
        z-index:1;
        content:url("//unsplash.it/1520/1001/?random");
    }
}

.blackAndWhite{
    img{
        content:url("//unsplash.it/g/1000/1001/?random");
    }

}

@media screen and (max-width:517px){
    .overlay p{
        font-size:1rem !important;
    }
}
